In [1]:
# Google Mount
from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google.colab'

# Basic Python for Linear Algebra

In [ ]:
import numpy as np

# Creating a vector
vector = np.array([1, 2, 3])
vector

In [ ]:
# Creating a matrix
matrix = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
matrix

### Vector Addition and Subtraction
Vector addition involves adding corresponding elements of two vectors to produce a new vector. Similarly, vector subtraction involves subtracting corresponding elements.

**Example:**

a = \begin{bmatrix} a_1 \\ a_2 \\ a_3 \end{bmatrix}
b = \begin{bmatrix} b_1 \\ b_2 \\ b_3 \end{bmatrix}

a + b = \begin{bmatrix} a_1 + b_1 \\ a_2 + b_2 \\ a_3 + b_3 \end{bmatrix}

a - b = \begin{bmatrix} a_1 - b_1 \\ a_2 - b_2 \\ a_3 - b_3 \end{bmatrix}

In [ ]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])

# Vector addition
vector_sum = a + b
print("Vector Addition:", vector_sum)

# Vector subtraction
vector_diff = a - b
print("Vector Subtraction:", vector_diff)

### Matrix Addition and Subtraction

Matrix addition and subtraction are similar to vector operations but applied element-wise to matrices of the same dimension.

**Example:**

A = \begin{bmatrix} a_{11} & a_{12} \\ a_{21} & a_{22} \end{bmatrix}
B = \begin{bmatrix} b_{11} & b_{12} \\ b_{21} & b_{22} \end{bmatrix}

A + B = \begin{bmatrix} a_{11} + b_{11} & a_{12} + b_{12} \\ a_{21} + b_{21} & a_{22} + b_{22} \end{bmatrix}

A - B = \begin{bmatrix} a_{11} - b_{11} & a_{12} - b_{12} \\ a_{21} - b_{21} & a_{22} - b_{22} \end{bmatrix}

In [ ]:
A = np.array([[1, 2], [3, 4]])
B = np.array([[5, 6], [7, 8]])

# Matrix addition
matrix_sum = A + B
print("Matrix Addition:\n", matrix_sum)

# Matrix subtraction
matrix_diff = A - B
print("Matrix Subtraction:\n", matrix_diff)

### Scalar Multiplication

Scalar multiplication involves multiplying each element of a vector or matrix by a scalar (a single number).

**Example:**

For a vector:


k ⋅ a =
k ⋅ \begin{bmatrix} a_1 \\ a_2 \\ a_3 \end{bmatrix} = \begin{bmatrix} k \cdot a_1 \\ k \cdot a_2 \\ k \cdot a_3 \end{bmatrix}


For a matrix:

k ⋅ A = k ⋅ \begin{bmatrix} a_{11} & a_{12} \\ a_{21} & a_{22} \end{bmatrix} = \begin{bmatrix} k \cdot a_{11} & k \cdot a_{12} \\ k \cdot a_{21} & k \cdot a_{22} \end{bmatrix}

In [ ]:
# Define a scalar
k = 2

# Scalar multiplication with vector
scalar_vector_product = k * a
print("Scalar Multiplication with Vector:", scalar_vector_product)

# Scalar multiplication with matrix
scalar_matrix_product = k * A
print("Scalar Multiplication with Matrix:\n", scalar_matrix_product)

### Dot Product

The dot product of two vectors is the sum of the products of their corresponding elements. It is also known as the scalar product.

**Example:**

a = \begin{bmatrix} a_1 \\ a_2 \\ a_3 \end{bmatrix}
b = \begin{bmatrix} b_1 \\ b_2 \\ b_3 \end{bmatrix}

a **⋅** b = a<sub>1</sub> **⋅** b<sub>1</sub> + a<sub>2</sub> **⋅** b<sub>2</sub> + a<sub>3</sub> **⋅** b<sub>3</sub>

### Matrix Multiplication

Matrix multiplication involves multiplying rows of the first matrix by columns of the second matrix and summing the results to form a new matrix.

**Example:**

A = \begin{bmatrix} a_{11} & a_{12} \\ a_{21} & a_{22} \end{bmatrix}
B = \begin{bmatrix} b_{11} & b_{12} \\ b_{21} & b_{22} \end{bmatrix}


C = A **⋅** B = \begin{bmatrix} a_{11} \cdot b_{11} + a_{12} \cdot b_{21} & a_{11} \cdot b_{12} + a_{12} \cdot b_{22} \\ a_{21} \cdot b_{11} + a_{22} \cdot b_{21} & a_{21} \cdot b_{12} + a_{22} \cdot b_{22} \end{bmatrix}

In [ ]:
# Dot product of vectors
dot_product = np.dot(a, b)
print("Dot Product of Vectors:", dot_product)

# Matrix multiplication
matrix_product = np.dot(A, B)
print("Matrix Multiplication:\n", matrix_product)

# Basic Python for statistics

## Descriptive Statistics
Descriptive statistics summarize and describe the features of a dataset.

**Mean**
<br>
The mean is the average of all data points.

In [ ]:
data = [1, 2, 2, 4, 4, 4, 6, 8, 9, 10]
mean = np.mean(data)
print("Mean:", mean)

**Median**
<br>
The median is the middle value in a sorted dataset.

In [ ]:
median = np.median(data)
print("Median:", median)

**Standard Deviation**
<br>
The standard deviation measures the dispersion of data points from the mean.

In [ ]:
std_dev = np.std(data)
print("Standard Deviation:", std_dev)

**Variance**
<br>
The variance is the square of the standard deviation.

In [ ]:
variance = np.var(data)
print("Variance:", variance)

**Range**
<br>
The range is the difference between the maximum and minimum values in a dataset.

In [ ]:
data_range = np.ptp(data)
print("Range:", data_range)

**Percentiles**
<br>
Percentiles indicate the relative standing of a value in a dataset.

In [ ]:
#백분위수는 데이터셋에서 특정 값의 상대적인 위치를 나타낸다.
#오름차순으로정렬된 데이터셋에서 하위25%에 해당하는 값
percentile_25 = np.percentile(data, 25)
#하위 75%에 해당하는 값
percentile_75 = np.percentile(data, 75)

print("25th Percentile:", percentile_25)
print("75th Percentile:", percentile_75)

## Data Visualization
Visualizing data helps in understanding its distribution and identifying patterns.

**Histograms**
<br>
A histogram represents the frequency distribution of a dataset.

In [ ]:
import matplotlib.pyplot as plt

plt.hist(data, bins=5, edgecolor='black')
plt.title('Histogram')
plt.xlabel('Value')
plt.ylabel('Frequency')
plt.show()

**Box Plots**
<br>
A box plot displays the distribution of data based on a five-number summary: minimum, first quartile, median, third quartile, and maximum.

In [ ]:
plt.boxplot(data)
plt.title('Box Plot')
plt.ylabel('Value')
plt.show()

### Probability Distributions
**Normal Distribution**
<br>
A normal distribution is a bell-shaped curve where most of the data points are centered around the mean.

In [ ]:
#정규 분포는 종 모양의 곡선으로,
#대부분의 데이터 포인트가 평균 값을 중심으로 집중되는 분포를 의미

#정규 분포의 평균을 0으로 설정
mean = 0
#정규 분포의 표준 편차를 1로 설정
std_dev = 1
normal_dist = np.random.normal(mean, std_dev, 1000)
#평균이 0이고 표준 편차가 1인 정규 분포에서 1000개의 샘플을 생성하여 normal_dist에 저장

plt.hist(normal_dist, bins=30, edgecolor='black', density=True)
plt.title('Normal Distribution')
plt.xlabel('Value')
plt.ylabel('Frequency')
plt.show()

'''plt.hist(): normal_dist 데이터의 히스토그램을 그림.
bins=30: 히스토그램의 막대를 30개로 나누어 표시함.
edgecolor='black': 막대의 테두리를 검은색으로 설정.
density=True: 히스토그램을 확률 밀도 함수로 변환하여 y축에 빈도 대신 확률 밀도를 표시함.'''

**Binomial Distribution**
<br>
A binomial distribution describes the number of successes in a fixed number of trials.

In [ ]:
'''이항 분포는 일정한 횟수의 시험에서 성공의 횟수를 설명하는 확률 분포입니다.
여기서 "성공"과 "실패"라는 두 가지 가능한 결과가 있으며,
각 시험에서 성공할 확률이 일정하고 독립적입니다.'''

#각 실험에서 시험의 총 횟수(예: 동전을 10번 던지는 것)를 설정
n = 10  # number of trials
#각 시험에서 성공할 확률을 0.5 (50%)로 설정
p = 0.5  # probability of success
binom_dist = np.random.binomial(n, p, 1000)

plt.hist(binom_dist, bins=10, edgecolor='black', density=True)
plt.title('Binomial Distribution')
plt.xlabel('Number of Successes')
plt.ylabel('Frequency')
plt.show()

### Inferential Statistics
**Hypothesis Testing**
<br>
Hypothesis testing is used to determine if there is enough evidence to reject a null hypothesis.

**t-tests**
<br>
A t-test compares the means of two groups.

In [ ]:
'''
추론 통계 (Inferential Statistics)

가설 검정 (Hypothesis Testing) 가설 검정은 귀무가설(null hypothesis:두 변수 간에 차이나 관계가 없다는 가정)을 기각할 수 있는 충분한 증거가 있는지 판단하는 방법입니다.
일반적으로 두 가지 가설을 설정하고, 데이터를 분석하여 어느 쪽이 더 적합한지를 결정합니다.

t-검정 (t-tests)은 두 그룹의 평균을 비교하는 통계적 방법입니다.
이 검정을 통해 두 그룹 간의 평균 차이가 통계적으로 유의미한지를 확인할 수 있습니다.

t-검정은 두 그룹 간의 평균 차이가 통계적으로 유의미한지 확인하는 데 사용됩니다.
즉, 두 샘플이 우연에 의해 차이가 나는 것인지, 실제로 차이가 있는지를 평가합니다.
'''

import scipy.stats as stats

# Generate two random samples
sample1 = np.random.normal(0, 1, 100)
sample2 = np.random.normal(0.5, 1, 100)

# Perform a t-test
t_stat, p_value = stats.ttest_ind(sample1, sample2)
#t_stat: t-통계량으로, 두 샘플의 평균 차이와 분산을 고려하여 계산됨
#p_value: t-검정의 p-값으로, 두 샘플 간의 평균 차이가 우연에 의해 발생할 확률을 나타냄
print("t-statistic:", t_stat)
print("p-value:", p_value)

'''만약 p_value가 0.05보다 작다면, 두 샘플 간의 평균 차이가 우연에 의한 것이 아니라는 결론을 내릴 수 있습니다.
이는 두 샘플 간의 차이가 통계적으로 유의미하다고 볼 수 있음을 의미합니다.

0.05보다 크다면, 두 샘플간의 평균차이는 우연일 확률이 높고, 통계적으로 유의미하다고 보기 힘듦.
'''

# Numpy and Pandas functions related to time series

## python, numpy, pandas Date Types Comparison and Summary

|Library|Date, Time Classes| Timedelta Classes|
|-------|-------------|-------------|
|datetime|datetime, date, time|timedelta|
|numpy|datetime64|timedelta64|
|pandas|Timestamp|Timedelta|

- datetime is a built-in library in Python, with different classes depending on whether you want to use date, time, or a combination of both.
For example, to represent 2021-3-16, you would use the date class, and to represent 2021-3-16 12:34:2, you would use the datetime class.

- datetime64 and Timestamp are newly defined datetime classes in the numpy and pandas libraries, respectively.
Both of these classes can be used to define dates, times, and datetimes within a single class.

### Handling Timestamps in Pandas

In [ ]:

'''
datetime: Python의 기본 라이브러리로, 날짜와 시간 모두를 지원하는 다양한 클래스를 제공합니다.
numpy.datetime64: 빠르고 효율적인 날짜 및 시간 처리를 위해 numpy에서 제공하는 클래스입니다.
pandas.Timestamp: pandas의 데이터 분석 및 조작에 특화된 날짜 및 시간 클래스로, datetime과 유사하지만 추가 기능을 제공합니다.
pandas.Timedelta: 날짜 또는 시간 간의 차이를 다루는 클래스입니다.
'''

import pandas as pd

df = pd.read_excel("/content/drive/Shareddrives/timeseries-datasets/Sample - Superstore.xls")
df.columns

In [ ]:
df.head(10)

In [ ]:
df.info()

###  Simplifying Time Series Data

- Simplify the data by focusing only on the necessary information (order date and total sales by category) among multiple columns.

- If you do not reset the index, Pandas will set the group variables as the index.

The following code is an example of grouping a DataFrame 'df' by 'Order Date' and 'Category' to calculate the sum. After grouping the data by 'Order Date' and 'Category' columns, it computes the sum for each group, and then displays the top 5 rows of the grouped DataFrame using grouped_df.head().

In [ ]:
'''
데이터 단순화: 필요한 열만 남기고 불필요한 열을 제거합니다.
그룹화: 특정 열('Order Date'와 'Category')을 기준으로 데이터를 그룹화합니다.
집계: 그룹화된 데이터에 대해 'Total Sales'의 합계를 계산합니다.
결과 확인: 상위 5개 행을 출력하여 결과를 미리 확인합니다.

'''

group_variables =  ['Order Date', 'Category']

#데이터프레임 df를 'Order Date'와 'Category' 열을 기준으로 그룹화. 같은 'Order Date'와 'Category' 값을 가진 행들이 그룹으로 묶임.
grouped_df = df.groupby(group_variables).sum(numeric_only=True)

#.sum(numeric_only=True): 그룹화된 각 그룹에 대해 모든 숫자형 열의 합계를 계산
#numeric_only=True는 숫자형 열에 대해서만 합계를 계산하도록 지정

grouped_df.head()

# grouped_df.index()하면 데이터타입이 어떻게 나올까?

In [ ]:
print("Columns of the grouped DataFrame:", grouped_df.columns)
print("Index of the grouped DataFrame:", grouped_df.index)

The following code is an example of grouping the DataFrame 'df' by 'Order Date' and 'Category' and then calculating the sum of the 'Sales' column after resetting the index.

In [ ]:
sales = df.groupby(group_variables)['Sales'].sum().reset_index()
sales.head()

grouped_df.head()
'''
['Sales']: 그룹화된 데이터 중 'Sales' 열만 선택
.sum(): 각 그룹에 대해 'Sales' 열의 합계를 계산
.reset_index(): 그룹화 후 자동으로 설정된 인덱스를 기본 인덱스로 되돌리고, 'Order Date'와 'Category' 열을 일반 열로 변환.
그룹화된 변수들이 인덱스에 있으면 불편할 수 있으므로 이를 다시 일반 열로 설정.
'''

In [ ]:
print("Columns of the sales DataFrame:", sales.columns)
print("Index of the sales DataFrame:", sales.index)

### Numpy datetime64 Format

NumPy date arrays are datetime64 objects in nanosecond (ns) units.

The internal storage unit is automatically chosen from the string format and can be a date unit or a time unit. Date units include year ('Y'), month ('M'), week ('W'), day ('D'), and time units include hour ('h'), minute ('m'), second ('s'), millisecond ('ms').

In [ ]:

#datetime64 객체는 날짜와 시간을 나노초 단위로 저장하며, 문자열 형식에 따라 자동으로 적절한 단위가 선택되어 저장됩니다.
'''
sales['Order Date']: 데이터프레임 sales에서 'Order Date' 열을 선택합니다.
.values: Pandas 시리즈(열) 데이터를 NumPy 배열로 변환합니다. 이 작업은 Pandas 객체를 NumPy 배열로 변환하는 역할을 합니다.
'''
order_date = sales['Order Date'].values
order_date

The following code converts the 'order_date' array to the 'datetime64[D]' type to store the dates in day units.

In [ ]:
order_date_daily = np.array(order_date, dtype='datetime64[D]')
order_date_daily

The following code converts the 'order_date' array to the 'datetime64[M]' type to store the dates in month units.

In [ ]:
order_date_monthly = np.array(order_date, dtype='datetime64[M]')
order_date_monthly

The following code extracts unique month units from the 'order_date_monthly' array.

In [ ]:
np.unique(order_date_monthly)

The following code converts the 'order_date' array to the 'datetime64[Y]' type to store the dates in year units and then extracts the unique years.

In [ ]:
np.unique(np.array(order_date, dtype='datetime64[Y]'))

## Creating and Handling Time Series Data with Pandas DateTimeIndex

- Data indexed by Timestamp is called TimeSeries data, meaning data indexed by DatetimeIndex.

- Time series related classes and creation methods:

| class         |           Description          |                               Creation Method |Pandas Class|
|---------------|:-----------------------:|---------------------------------------:|------------:|
| Timestamp     |     One timestamp    |                 to_datetime, Timestamp |pandas.Timestamp|
| DatetimeIndex | Index of timestamp type | to_datetime, date_range, DatetimeIndex |pandas.DatetimeIndex|
| Period        |       time period       |                                 Period |pandas.Period|

The following code creates a DataFrame with a random array of size (12, 4) following a standard normal distribution and names the columns 'n1', 'n2', 'n3', 'n4'.

In [ ]:
#표준 정규 분포(평균 0, 표준편차 1)를 따르는 12행 4열의 배열을 생성합니다. 이 배열은 무작위로 생성된 실수 값들로 채워집니다.
a = np.random.standard_normal((12, 4))

#NumPy 배열 a를 Pandas의 **데이터프레임(DataFrame)**으로 변환합니다. 열 이름을 ['n1', 'n2', 'n3', 'n4']로 지정하여 각 열에 이름을 부여합니다.
df = pd.DataFrame(a, columns=['n1', 'n2', 'n3', 'n4'])
df.head()

## to_datetime()

The following code takes a list 'date_str' containing dates in various string formats. It then uses the pd.to_datetime() function to convert these strings into datetime data type and create a DatetimeIndex.

In [ ]:
'''
여러 가지 형식으로 주어진 날짜 문자열을 Pandas의 to_datetime 함수를 사용하여 표준 날짜 형식으로 변환하는 작업을 수행함.
'''
date_str = ['2010-01-01', '2015, 7, 1', 'May, 1 2016',
            'Dec, 25, 2019', 'DEC 1 2020', 'dec 20 2021', '2020 12 31']

for dt in date_str:
    print(pd.to_datetime(dt))

#pd.to_datetime(dt): 각 날짜 문자열 dt를 Pandas의 to_datetime 함수를 사용하여 표준 날짜 형식으로 변환함
#이 함수는 다양한 날짜 형식을 인식하고, 일관된 datetime64 객체로 변환함

## date_range
```python
pd.date_range(start, end, periods, freq)
```

- Without needing to input all dates/times, generate an index within a range by providing **start and end dates** or **start date and period**.

- freq
    - S: second  
    - T: minute  
    - H: hour  
    - D: day  
    - B: Business Day (not weekend)
    - W: week (Sunday)
    - M: end of month  
    - MS: start of month

This code sets the start date to '2016-9-1' and generates a date range for 10 days from that start date. By default, the date interval is set to one day. As a result, a date range from the start date to the consecutive 10 days is created and stored in a DatetimeIndex object.

In [ ]:
# start ~ 10 days
pd.date_range(start='2016-9-1', periods=10)

This code sets the start date to '2019-5-1' and the end date to '2019-5-10'. It then sets the 'freq' parameter to 'B' to generate a range of business days (weekdays).

In [ ]:
# Business days between start and end
pd.date_range('2019-5-1', '2019-5-10', freq='B')

This code sets the start date to '2019-01-01' and generates a range of 12 monthly dates from that start date. It sets the 'freq' parameter to 'M' to generate the range based on the last date of each month.

In [ ]:
# Start date to 12 months
dates = pd.date_range('2019-01-01', periods=12, freq='M')
dates

In [ ]:
# Change the index of a DataFrame to datetime
df.index = dates
df.head()

In [ ]:
df.index

## Operations using Pandas DatetimeIndex

In [ ]:
# Set index using an existing numpy datetime64 format variable
sales.set_index('Order Date', inplace=True)

'''
'Order Date': 인덱스로 설정할 열의 이름입니다. 이 열이 현재 numpy datetime64 형식으로 되어 있어야 합니다.
inplace=True: 이 매개변수는 원본 데이터프레임을 직접 수정하여, 새로운 데이터프레임을 반환하지 않고 기존 데이터프레임 sales를 업데이트합니다.
즉, 데이터프레임의 Order Date 열이 인덱스로 설정된 상태로 변경됩니다.

인덱스 변경: 'Order Date' 열이 이제 데이터프레임의 인덱스가 되었습니다. 기존의 인덱스는 사라지고 'Order Date'가 새로운 인덱스로 설정됩니다.
inplace=True: 데이터프레임 sales는 이제 변경된 상태로 유지되며, 이 데이터프레임을 출력할 때 인덱스가 'Order Date'로 설정된 것을 확인할 수 있습니다.
'''

sales.head()

In [ ]:
sales.index

### Subsetting data

You can now select subsets of data using the DatetimeIndex. The following code selects data from the 'sales' DataFrame where the index corresponds to the year '2011'.

In [ ]:
sales.loc['2011'].head()

The following code selects data from the 'sales' DataFrame where the 'Category' is 'Office Supplies' and the dates range from January to February 2012.

In [ ]:
sales[sales['Category'] == 'Office Supplies']['2012-01':'2012-02'].head()
#인덱스가 datetime 형식이어야만 동작

### Datetime Components

Pandas Datetime variables have several useful components. You can extract elements such as month, year, day of the week, quarter, etc., using DatetimeIndex.

The following code extracts the day information from the index of the 'sales' DataFrame.

In [ ]:
sales.index.day

The following code is an example of getting the day of the week information from the index of the 'sales' DataFrame.

In [ ]:
sales.index.dayofweek   # Day of Week: Monday=0, Sunday=6

This code adds a new column 'DayofWeek' to the 'sales' DataFrame, assigning each row's index date's day of the week information to this column.

In [ ]:
sales['DayofWeek'] = sales.index.day_name()
sales.head()

## Resample

- Adjust the time interval.
- Since the original data is grouped, you need to compute a representative value for each group.

This code generates a random series of length 100 using NumPy's randn() function, converts it to a pandas Series, and sets the index using the pd.date_range() function for a period of 100 months starting from January 1, 2018. The frequency is set to "M" to specify monthly intervals.

A time series of 100 random values from January 1, 2018, at monthly intervals is created, allowing the use of various pandas functions and methods for handling time series data.

In [ ]:
tms = pd.Series(np.random.randn(100),
               index=pd.date_range("2018-1-1", periods=100, freq="M"))

print(tms.shape)
tms.head()

In [ ]:
tms.tail()

The following code demonstrates down-sampling a pandas Series to a weekly interval.

In [ ]:
# Down-sampling to weekly
new_tms = tms.resample('W').max()
new_tms

The following code calculates the average of a pandas Series at weekly and monthly intervals.

In [ ]:
tws = pd.Series(np.random.randn(100),
               index=pd.date_range("2018-1-1", periods=100, freq="W"))

print(tws.shape)
tws.head()

In [ ]:
new_tws = tws.resample('M').mean() # Monthly Average
new_tws